<div class="row my-5 ">
    <% @tweets.each do |tweet| %>
        <%= render 'tweets/single_tweet', tweet: tweet %>

    <% end %>
    <hr/>
    <%= link_to_next_page @tweets, 'Mostrar mas'%>

</div> 
