/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= stub "active_admin"
 *= require_tree .
 *= require_self
 */

.circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.small-circle {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.icono-twitter {
  color: #31b1e8;
  font-size: 1.5em;
}

.color-twitter {
  color: #31b1e8;
  background-color: #31b1e8;
}

.links-section {
  list-style-type: none;
  margin-left: 0em;
  font-size: 1.25em;
}

.nav-link {
  transition-duration: 0.2s;
}

.first-link:hover {
  background-color: #abaeff;
}

.second-link:hover {
  background-color: #97e3e8;
}
.third-link:hover {
  background-color: #c7ffe7;
}
.fourth-link:hover {
  background-color: #f7c1ff;
}

.nav-item {
  margin-bottom: 1.5em;
}

.btn-tweet {
  width: 2em;
}

.btn-special {
  background-color: #abaeff;
}

h3 {
  margin-left: 9em;
}

.text-area:hover {
  background-color: white;
}

.btn-color-twitter {
  background-color: black;
}
.user_data {
  font-family: "PT Sans", sans-serif;
}

.profile_pic {
  height: 6em;
}

.text-area:focus {
  border: none !important;
  overflow: auto !important;
  outline: none !important;
  box-shadow: none !important;
  resize: none !important;
}
